.block_first.inline-block
  = select_tag "brands", options_for_select(@brands), include_blank: "Выберите марку телефона"

  = select_tag "phones", nil, include_blank: 'Выберите телефон', style: 'display: none'

.block_second.inline-block
  = text_field_tag 'search', nil, class: 'inline-block js_search_field', placeholder: 'phone name'
  = link_to 'find', '#', class: 'inline-block js_search_button'

#results
